{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/acomp.css'%}">
     <title>ACOMPANHAMENTO</title>
</head>
<body>
    <div id="logo">
        <img src="{% static 'imagens/logo.png' %}" alt="logo fribel">
    </div>
        <div class="conteiner">
            <div class="row pand1">
                <a href="" id="link_filtro"><button type="button" class="btn bt1 " >FILTRO</button></a>
                <a href=""><button type="button" class="btn bt1" >ORDENAR POR</button></a>
            </div>
            <div id="table">
                <table class="table table-hover">
                    <thead>
                      <tr id="tr-color">
                        <th scope="col">#</th>
                        <th scope="col">Numero NF</th>
                        <th scope="col">Industria</th>
                        <th scope="col">Dia Da Descarga</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><button type="button" class="btn bt-table ">Editar</button></th>
                        <td>x</td>
                        <td>x</td>
                        <td>xxxxxxxxx</td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th scope="row"><button type="button" class="btn bt-table">Editar</button></th>
                        <td>x</td>
                        <td>x</td>
                        <td>xxxxxxxxx</td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th scope="row"><button type="button" class="btn bt-table" >Editar</button></th>
                        <td>x</td>
                        <td>x</td>
                        <td>xxxxxxxxx</td>
                        <td>x</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
</body>
</html>