{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Login</title>
</head>
<body>
    <div id="logo">
        <img src="{% static 'imagens/logo.png' %}" alt="logo fribel">
    </div>
    <div class="container principal" id="principal">
        <form id= "formulario" class="form-group" enctype="multipart/form-data" action="submit", method="POST"> {% csrf_token%}
            <div id="usuario">
                <input  class="form-control" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'USUARIO'" placeholder="USUARIO" >
            </div>
            <div id="senha" >
                <input  class="form-control" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'SENHA'" placeholder="SENHA" >
            </div>
            <div class="col-md-6 offset-md-1 botao" >
                <button type="button" class="btn bt1" >ENTRAR</button>
            </div>
        </form>
    </div>
</body>
</html>