/*acomp styles*/

body{
    background: url("/static/imagens/fundo.jpg") no-repeat center top fixed;/*rgb(41, 160, 120);*/

}
div.pand1{
    padding-top: 80px; 
    padding-left: 60px;
}
#link_filtro{
    padding-right: 10px;
}
button.bt1{
    color: white; 
    background-color: #004b97;
    padding: 10px 30px;
}
#table{
    padding-top: 30px;
}
#tr-color{
    background-color: #89b348 ;
}
button.bt-table{
    color: white;
    background-color: #004b97;
    padding: 10px 30px;

}

/*login styles*/
body{
    background: url("/static/imagens/fundo.jpg") no-repeat center top fixed;/*rgb(41, 160, 120);*/

}

input.form-control {
    width: 300px;
}
div.principal{
    padding-top: 300px;
    padding-left: 400px;
}
#senha{
    padding-top: 10px;
}
div.botao{
    padding-top: 30px; 
    padding-left: 90px;
}
/* addcarga style*/
input.addcarga{
    width: 260px;
    padding-left: 30px;
}
h1{
    color: #89b348;
}
h3{
    color: #004b97;
}
h3.addcargah3nf{
    padding-right: 40px;
    padding-left: 30px;
}
h3.addcargah3indus{
    padding-right: 103px;
}
h3.addcargah3prev{
    padding-right: 80px;
    padding-left: 30px;
}
#titulo{
    padding-bottom: 60px;
    padding-left: 190px;
}
div.pand{
    padding-top: 20px;
}
h3.addcargah3obs{
    padding-right: 75px;
}
textarea.addcarga{

    width: 450px;
}
#principal{
    padding-left: 150px;

}
div.btadd{
    padding-left: 370px;
}
h3.tipEnt{
    padding-right: 30PX;
}
h3.prod{
    padding-right: 120px;
}
h3.QTD{
    padding-left: 30px;
    padding-right: 130px;
}
h3.promov{
    padding-right: 35px;
}
select.select{
    width: 450px;
}