{% extends 'base.html' %}

{% block title %} ACOMPANHAMENTO {% endblock %}

{% block content %}
<div class="conteiner">
  
  <div id = "conjuntoOpcoes" class="row pand1">
    <span>Filtrar por:</span>
    <select name="filter" id="filter" class="form-control">
      <option value="" selected disabled>Selecione um filtro</option>
      <option value="liberado">Cargas liberadas</option>
      <option value="aguardando">Cargas em espera</option>
    </select>
    <span>Ordenar por:</span>
    <select name="ordenador" id="ordenador" class="form-control">
      <option value="" selected disabled>Selecione uma coluna</option>
      <option value="dia_descarga">Dia da descarga (ordem crescente)</option>
      <option value="-dia_descarga">Dia da descarga (ordem decrescente)</option>
      <option value="numero_nf">Número NF (ordem crescente)</option>
      <option value="-numero_nf">Número NF (ordem decrescente)</option>
      <option value="industria">Indústria (ordem crescente)</option>
      <option value="-industria">Indústria (ordem decrescente)</option>
      <option value="status">Status (ordem crescente)</option>
      <option value="-status">Status (ordem decrescente)</option>
    </select>
    <!--Laço if controla o acesso a função de cadastrar novas cargas-->
    {% if tipo_user.tipo_user == 'CD' %}
      <a class="btnaddcarga" href="adicionarCarga/"><button type="button" class="btn bt1">ADICIONAR CARGA</button></a>
    {% endif %}
  </div>
  <div id="table">
    <table class="table table-hover">
      <thead>
        <tr id="tr-color">
          <th scope="col">#</th>
          <th scope="col">Número NF</th>
          <th scope="col">Indústria</th>
          <th scope="col">Dia da Descarga</th>
          <th scope="col">Status</th>
          <th scope="col">Usuário</th>
          {% if tipo_user.tipo_user == 'Diretoria' %}
            <th scope="col">liberar</th>
          {% else %}
            <th> </th>
          
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <!--Este script converte uma lista django para um dict javascript e chama a função 
        para checar conflito de data de descarga-->
        <script>
          window.onpageshow = function() {
            var qtde_cargas = {{tamanho}};
            var lista_cargas = [
              {% for carga in cargas%}
                {% if not forloop.first %}, {% endif %}
                {
                  numero_nf: "{{carga.numero_nf}}",
                  industria: "{{carga.industria}}",
                  dia_descarga: "{{carga.dia_descarga}}",
                  status: "{{carga.status}}"
                }
              {% endfor %}
            ]

            checar_conflito_cargas(lista_cargas, qtde_cargas);
          }
        </script>
        <!--Esse laço for carrega  todas as cargas cadastradas no BD-->
        {% for carga in cargas %}
          {% if carga.status == 'aguardando'  %}
            <tr style="background-color:#ff9da5 ;">
          {% else %}
            <tr style="background-color: #65ff89;">
          {% endif %}
            <th scope="row"><button type="button" class="btn bt-table ">Editar</button></th>
            <td>{{carga.numero_nf}}</td>
            <td>{{carga.industria}}</td>
            <td>{{carga.dia_descarga}}</td>
            <td>{{carga.status}}</td>
            <td>{{carga.user}}
            {% if tipo_user.tipo_user == 'Diretoria' and carga.status == 'aguardando'  %}
              <th scope="row"><a href="liberarCarga/{{carga.id}}"><button type="button" class="btn bt2 ">Liberar</button></a></th>
            {% else %}
            <td>                </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}