{% extends 'base.html' %}

{% block title %} ACOMPANHAMENTO {% endblock %}

{% block content %}
<div class="conteiner">
  <div class="row pand1">
    <a href="" id="link_filtro"><button type="button" class="btn bt1 " >FILTRO</button></a>
    <a href=""><button type="button" class="btn bt1" >ORDENAR POR</button></a>
    <!--Laço if controla o acesso a função de cadastrar novas cargas-->
    {% if usuario == "centro-dist" %}
      <a href=""><button type="button" class="btn bt1" >ADICIONAR CARGA</button></a>
    {% endif %}
  </div>
  <div id="table">
    <table class="table table-hover">
      <thead>
        <tr id="tr-color">
          <th scope="col">#</th>
          <th scope="col">Numero NF</th>
          <th scope="col">Industria</th>
          <th scope="col">Dia Da Descarga</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><button type="button" class="btn bt-table ">Editar</button></th>
            <td>x</td>
            <td>x</td>
            <td>xxxxxxxxx</td>
            <td>x</td>
          </tr>
          <tr>
            <th scope="row"><button type="button" class="btn bt-table">Editar</button></th>
            <td>x</td>
            <td>x</td>
            <td>xxxxxxxxx</td>
            <td>x</td>
          </tr>
          <tr>
            <th scope="row"><button type="button" class="btn bt-table" >Editar</button></th>
            <td>x</td>
            <td>x</td>
            <td>xxxxxxxxx</td>
            <td>x</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}