{% extends 'base.html' %}

{% block title %} ACOMPANHAMENTO {% endblock %}

{% block content %}
<div class="conteiner">
  
  <div class="row pand1">
    <span>Filtrar por:</span>
    <select name="filter" id="filter" class="form-control">
      <option value="" selected disabled>Selecione um filtro</option>
      <option value="liberado">Cargas liberadas</option>
      <option value="aguardando">Cargas em espera</option>
    </select>
    <span>Ordenar por:</span>
    <select name="ordenador" id="ordenador" class="form-control">
      <option value="" selected disabled>Selecione uma coluna</option>
      <option value="dia_descarga">Dia da descarga</option>
      <option value="numero_nf">Número NF</option>
      <option value="industria">Indústria</option>
      <option value="status">Status</option>
    </select>
    <!--<a href=""><button type="button" class="btn bt1" >ORDENAR POR</button></a>-->
    <!--Laço if controla o acesso a função de cadastrar novas cargas-->
    {% if usuario == "centro-dist" %}
      <a href="adicionarCarga/"><button type="button" class="btn bt1" >ADICIONAR CARGA</button></a>
    {% endif %}
  </div>
  <div id="table">
    <table class="table table-hover">
      <thead>
        <tr id="tr-color">
          <th scope="col">#</th>
          <th scope="col">Número NF</th>
          <th scope="col">Indústria</th>
          <th scope="col">Dia da Descarga</th>
          <th scope="col">Status</th>
          <th scope="col">Usuário</th>
        </tr>
      </thead>
      <tbody>
        <!--Este script converte uma lista django para um dict javascript e chama a função 
        para checar conflito de data de descarga-->
        <script>
          window.onpageshow = function() {
            var qtde_cargas = {{tamanho}};
            var lista_cargas = [
              {% for carga in cargas%}
                {% if not forloop.first %}, {% endif %}
                {
                  numero_nf: "{{carga.numero_nf}}",
                  industria: "{{carga.industria}}",
                  dia_descarga: "{{carga.dia_descarga}}",
                  status: "{{carga.status}}"
                }
              {% endfor %}
            ]

            checar_conflito_cargas(lista_cargas, qtde_cargas);
          }
        </script>
        <!--Esse laço for carrega  todas as cargas cadastradas no BD-->
        {% for carga in cargas %}
          <tr>
            <th scope="row"><button type="button" class="btn bt-table ">Editar</button></th>
            <td>{{carga.numero_nf}}</td>
            <td>{{carga.industria}}</td>
            <td>{{carga.dia_descarga}}</td>
            <td>{{carga.status}}</td>
            <!--<td>{{carga.user}}</td>-->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}