{% extends 'base.html' %}

{% block title %} Adicionar carga {% endblock %}

{% block content %}
<div class="container" id="principal">
    <div  id="titulo"><h1 > CADASTRO DE CARGA</h1></div>
    <form id= "formulario" class="form-group " enctype="multipart/form-data" action="submit", method="POST"> {% csrf_token%}
            <div class="row add">
                <H3 class="addcargah3indus">Industria :</H3>
                <input id="industria"  class="form-control addcarga" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Industria'" placeholder="Industria" >
                <H3 class="addcargah3nf">Nota Fiscal :</H3>
                <input id="NF"  class="form-control addcarga" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nota Fiscal'" placeholder="Nota Fiscal" >
            </div>
            <div class="row pand">
                <h3 class="tipEnt">Tipo de Entrada</h3>
                <input id="tipEntrada"  class="form-control addcarga" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tipo de Entrada'" placeholder="Tipo de Entrada" >
                <H3 class="addcargah3prev">Previsão:</H3>
                <input id="previsão"  class="form-control addcarga" type="date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Previsão'" placeholder="Previsão" >
            </div>
            <div class="row pand">
                <h3 class="prod">Produto:</h3>
                <input id="Produto"  class="form-control addcarga" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Produto'" placeholder="Produto" >
                <H3 class="QTD">QTD:</H3>
                <input id="QTD"  class="form-control addcarga" type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'QTD'" placeholder="QTD" >
            </div>
            <div class="row pand">
                <H3  id="obs" class="addcargah3obs">Observação:</H3>
                <textarea class="form-control addcarga" id="obs" rows="3"></textarea>
            </div>
            <div class="row pand">
                <h3 class="promov">Movimentação:</h3>
                <select class="form-control select" >
                    <option>Carga batida</option>
                    <option>Carga paletizada</option>
                  </select>               
            </div>

            
        <div class="btadd botao" >
            <button type="button" class="btn bt1" >ENTRAR</button>
        </div>
    </form>
</div>
{% endblock %}