{% extends 'base.html' %}

{% block title %} Adicionar carga {% endblock %}

{% block content %}
<div class="container" id="principal_addcarga">
    <div  id="titulo"><h1 > <b> CADASTRO DE CARGA </b></h1></div><!--*/-->
    <form class="form-contact contact_form"  method="post" id="formulario" action="\acompanhamento/adicionarCarga/submit" >{% csrf_token%}
            <div class="row add">
                <H3 class="addcargah3indus">Industria :</H3>
                <input id="industria" name="industria"  class="form-control addcarga" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Industria'" placeholder="Industria" >
                <H3 class="addcargah3nf">Nota Fiscal :</H3>
                <input id="NF" name="NF"  class="form-control addcarga" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nota Fiscal'" placeholder="Nota Fiscal" >
            </div>
            <div class="row add" style="padding-top: 10px;">
                <h3 style="padding-right: 35px;">Valor da Carga:</h3>
                <input id="valor" name="valor" style="width: 265px;" class="form-control" type="number"  min="0" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Valor'" placeholder="Valor" >  
            </div>
            <div class="row pand">
                <h3 class="tipEnt">Tipo de Entrada:</h3>
                <select class="form-control tipoEntrada" id="tipo_entrada" name="tipo_entrada" >
                    <option>              </option>
                    <option>Entrada Normal</option>
                    <option>Entrada Bonificada</option>
                </select> 
                <H3 id="previsao_h3" class="addcargah3prev">Previsão*:</H3>
                <input id="previsao" name="previsao"  class="form-control addcarga" type="date" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Previsão'" placeholder="Previsão" >
            </div>
            <div class="row pand">
                <h3 class="prod">Produto:</h3>
                <input id="Produto" name="Produto"  class="form-control addcarga" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Produto'" placeholder="Produto" >
                <H3 class="QTD">QTD:</H3>
                <input id="QTD" name="QTD"  class="form-control addcarga QTD" type="number"  min="0" onfocus="this.placeholder = ''" onblur="this.placeholder = 'QTD'" placeholder="QTD" >
                <H3 class="uni">UN:</H3>
                <select class="form-control un"  id="un" name="un">
                    <option>  </option>
                    <option>KG</option>
                    <option>CX</option>
                    <option>PCTS</option>
                    <option>FDS</option>

                </select> 
            </div>
            <div class="row pand">
                <h3 class="promov">Movimentação:</h3>
                <select class="form-control select" id="movimentacao" name="movimentacao" >
                    <option>            </option>
                    <option>Carga batida</option>
                    <option>Carga paletizada</option>
                  </select> 
                <h3 class="frete">Frete:</h3>
                <select class="form-control selectf" style="width: 360px;" id="frete" name="frete" >
                    <option>            </option>
                    <option>CIF</option>
                    <option>FOB</option>
                  </select> 
                              
            </div>

            <div class="row pand">
                <H3  id="observacaoh3" class="addcargah3obs">Observação:</H3>
                <textarea class="form-control addcarga" id="observacao" name="observacao" rows="4"></textarea>
            </div>
        <div class="btadd botao" >
            <button type="button" id="btadd" class="btn bt1"  onclick="validar_add_carga()">ENVIAR</button>
        </div>
    </form>
</div>
{% endblock %}