{% extends 'base.html' %}

{% block title %} informações Cargas {% endblock %}

{% block content %}
    <div class="container col-6">
            <h5 class= "inf_carga">Industria :{{carga.industria}}</h5>
            <h5 class= "inf_carga">NF  :{{numero_nf}}</h5>
            <h5 class= "inf_carga">Industria  : {{carga.industria}}</h5>
            <h5 class= "inf_carga">Dia dia_descarga    : {{carga.dia_descarga}}</h5>
            <h5 class= "inf_carga">Valor Carga  :{{carga.valor_carga}} </h5> 
            <h5 class= "inf_carga">Usuario  :{{carga.user}} </h5>
            <h5 class= "inf_carga">Status  :{{carga.status}} </h5>
            <h5 class= "inf_carga">Tipo de Entrada  :{{carga.tipo_entrada}} </h5>
            <h5 class= "inf_carga">Produto {{carga.Produto}} </h5>
            <h5 class= "inf_carga">QTD  :{{carga.QTD}} </h5>
            <h5 class= "inf_carga">UN  :{{carga.UN}} </h5>
            <h5 class= "inf_carga">movimentacao  :{{carga.movimentacao}}</h5> 
            <h5 class= "inf_carga">Frete:  {{carga.frete}}</h5>
            <h5 class= "inf_carga">Observação  :{{carga.observacao}}</h5>
            <h5 class= "inf_carga">BOX  :{{carga.box}}</h5>
    </div>
{% endblock %}