{% extends 'base.html' %}

{% block title %} Liberar Carga {% endblock %}

{% block content %}

    <div class="liberar_carga"> 
        <div class="container libcarga">
            <h1>Cargas Liberadas</h1>
            {% for carga in cargas%}
            <h1 class="libCarga">{{carga.industria}} </h1>   
            <form method="post" class="post-form form-libcarga">{% csrf_token %}
                {{ boxs.as_table }}
                <button type="submit" id="btn-libCarga" class="btn btn-libCarga"  formaction= "{% url 'liberar' id=carga.id %}" >Confirmar</button>                                                           
            </form> 
        {% endfor %}
        </div> 
    </div>
{% endblock %}




